.container {
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.reset_button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.reset_button:hover {
  background-color: #45a049;
}

.login_link {
  display: block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.login_link:hover {
  text-decoration: underline;
}
